* {
	font-family: Museo;
    font-size: 18px;
    color: #ffffff;
}

body {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: black;
}

.top, .footer {
	background-image: url('pics/space_bg.png');
}

.top, .footer {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
}
#logoWrapper {
	height: 100%;
	max-height: 99px;
	line-height: 89px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color:  #c6c6c680;
	padding: 0 20px;
}
#logoWrapper img {
	vertical-align: unset;
	width: 100%;
}
.content {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
}

#menu {
    height: 100px;
    background-color: #150a012e;
    border-bottom: 1px solid #c6c6c680;
    border-top: 1px solid #c6c6c680;
}

#menu a span {
	transition: 0.5s 0s ease all;
	border-bottom: 1px solid transparent;
}

#menu a:hover span {
	transition: 0.5s 0s ease all;
	opacity: 0.7;
	border-bottom: 1px solid #c6c6c680;
}

#travel, #m-travel button {
    font-size: 14px;
    width: 180px;
    height: 35px;
    background-color: rgba(22,21,29,0.5);
    border: 1px inset #1C6EA4;
    border-image: linear-gradient(10deg, rgb(51, 93, 153), rgba(161, 161, 161, 0), rgb(51, 93, 153));
    border-image-slice: 1;
    position: relative;
	top: 60%;
	left: 10%;
	transition: 0.5s 0s ease all;
}

#travel:hover {
	background-color: rgba(255, 255, 225, 0.5);
	transition: 0.5s 0s ease all;
}

.content {
	background-image: url('pics/main_bg.png');
}


@font-face {
	font-family: "Museo"; 
	src: url("MuseoSansCyrl-100.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

/*выгоды*/
	#advantage1 {
	    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
	    height: 120px;
	}

	#advantage1:hover {
	    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%);
	    border-right: 1px solid;
	    border-bottom: 1px solid;
	    border-image: linear-gradient(-35deg, rgb(161, 161, 161), rgba(161, 161, 161, 0), rgb(161, 161, 161));
	    border-image-slice: 1;
	}

	#advantage2 {
	    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
	    height: 120px;
	}

	#advantage2:hover {
	    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%);
	    border-left: 1px solid;
	    border-bottom: 1px solid;
	    border-image: linear-gradient(35deg, rgb(161, 161, 161), rgba(161, 161, 161, 0), rgb(161, 161, 161));
	    border-image-slice: 1;
	}

	#advantage3 {
	    background: linear-gradient(210deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
	    height: 120px;
	}

	#advantage3:hover {
	    background: linear-gradient(210deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%);
	    border-right: 1px solid;
	    border-top: 1px solid;
	    border-image: linear-gradient(35deg, rgb(161, 161, 161), rgba(161, 161, 161, 0), rgb(161, 161, 161));
	    border-image-slice: 1;
	}

	#advantage4 {
	    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
	    height: 120px;
	}

	#advantage4:hover {
	    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%);
	    border-left: 1px solid;
	    border-top: 1px solid;
	    border-image: linear-gradient(-35deg, rgb(161, 161, 161), rgba(161, 161, 161, 0), rgb(161, 161, 161));
	    border-image-slice: 1;
	}

	.advantages * {
		font-size: 15px;
	}

	.advantages .font-weight-bold {
		font-size: 35px;
		font-family: Arial;
	}
/*уголочки*/
	.topRightCorner {
		position: relative;
		top: 0px;
		right: 0px;
		background: transparent;
		-webkit-box-shadow: 1px -1px 0px 0px rgb(255, 255, 255);
		-moz-box-shadow:    1px -1px 0px 0px rgb(255, 255, 255);
		box-shadow:         1px -1px 0px 0px rgb(255, 255, 255);
	}

	.bottomLeftCorner {
		position: relative;
		bottom: 0px;
		left: 0px;
		-webkit-box-shadow: -1px 1px 0px 0px rgb(255, 255, 255);
		-moz-box-shadow:    -1px 1px 0px 0px rgb(255, 255, 255);
		box-shadow:         -1px 1px 0px 0px rgb(255, 255, 255);
	}

	.smallCorner {
		width: 5px;
		height: 5px;
	}

	.bigCorner {
		width: 7px;
		height: 7px;
	}
/*уголочки кнопки*/
	#travel .topRightCorner {
		top: -1px;
		right: -165px;
	}

	#travel .bottomLeftCorner {
		bottom: -1px;
		left: -8px;
	}
	#m-travel button .topRightCorner {
		top: -1px;
		right: -165px;
	}

	#m-travel button .bottomLeftCorner {
		bottom: -1px;
		left: -8px;
	}
/*уголочки логотипа*/
	#logoWrapper .topRightCorner {
		top: -1px;
		right: -107%;
	}

	#logoWrapper .bottomLeftCorner {
		bottom: 1px;
		left: -9.5%;
	}

	@media (max-width: 1199px){
		#logoWrapper .topRightCorner {
			top: -1px;
			right: -109%;
		}

		#logoWrapper .bottomLeftCorner {
			bottom: 1px;
			left: -11.5%;
		}
	}

@media (max-width: 991px){
	.logo img {
	 	width: 100%;
	}
	#navbar a span {
		font-size: 12px;
	}
	#logoWrapper .topRightCorner {
		top: -1px;
		right: -114%;
	}
	#logoWrapper .bottomLeftCorner {
		bottom: 1px;
		left: -18.5%;
	}
}

@media (max-width: 767px){
	#travel {
		font-size: 12px;
		width: unset;
	}
	#navbar a span {
		font-size: 18px;
	}
	#navbar {
		background-color: black;
		z-index: 100;
		width: 50%;
		overflow: visible;
	}
	#logoWrapper .topRightCorner {
		top: -1px;
		right: -108%;
	}
	#logoWrapper .bottomLeftCorner {
		bottom: 1px;
		left: -9.8%;
	}
	#travel .topRightCorner {
		top: -2px;
		right: -116px;
	}

	#travel .bottomLeftCorner {
		bottom: -3px;
		left: -8px;
	}
}

@media (max-width: 715px){
	.content {
		background-position: 40%;
	}
}

@media (max-width: 575px){
	.top {
		background-size: unset;
	}
	.content {
		background-position: 60% 0;
		background-size: auto;
		height: 100%;
		/*padding: 0;*/
	}
	#travel {
		display: none;
	}
	#m-travel {
		display: block !important;
	}
	#m-travel button {
		position: unset;
		margin: auto;
		display: block;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.advantages {
		width: 45%;
		background: rgba(255, 255, 255, 0.1);
	}
	.logo {
		width: 50%;
	}
}

@media (max-width: 411px){
	#navbar button {
		padding-right: 0px;
		padding-left: 0px;
	}
	#logoWrapper .topRightCorner {
		top: -1px;
		right: -112%;
	}
	#logoWrapper .bottomLeftCorner {
		bottom: 1px;
		left: -15.9%;
	}
}

.navbar-toggler-icon {
	font-size: 28px;
	line-height: 18px;
	height: 1em;
	width: 1em;
	font-weight: lighter;
}

/*bootstrap fix lol*/
[aria-expanded="true"] {
	display: block !important;
}
#years {
	font-size: 12px; 
}